<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talks</title>
</head>
<body>
<br/>
<li>Hello There</li>
<br/>
<br/>
<li>{{get_talks.Talk}}</li>
<br/>
<li> Here is the list!</li>

<li>
    {% for talk in get_talks %}
    <ul>
        ID: {{talk.id}}<br/>
        First Name: {{talk.first_name}} <br/>
        Last Name: {{talk.last_name}} <br/>
        Speaker: {{talk.speaker}} <br/>
        Venue: {{talk.venue}} <br/>
        Duration: {{talk.duration}}<br/><br/>

    </ul>
    {% endfor %}
</li>
</body>
</html>