<html>
<head>
<title>Insert Talk </title>
</head>

<body>
<h1>Insert Talk </h1>
<form action="" method="POST">
    ID: <input type="text" id="id" name="id"/><br/>
    First Name: <input type="text" id="first_name" name="first_name"/><br/>
    Last Name: <input type="text" id="last_name" name="last_name"/><br/>
    Speaker: <input type="text" id="speaker" name="speaker"/><br/>
    Venue: <input type="text" id="venue" name="venue"/><br/>
    Duration: <input type="number" id="duration" name="duration" min="1" max="4"/><br/>

<input type="submit" value="Post"/>
</form>
</body>

</html>